body{
    background: url("/images/fon.jpg") no-repeat center center fixed;
    background-size: cover;
}

*{
    padding: 0;
    margin: 0;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}